body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*-------------- Base ----------------*/
.main-section {
    padding-top: 4rem;
}

/*-------------- home page -----------*/
.page-link {
    border: 1px solid gray;
    color: gray;
    padding: 0.6rem 2rem;
    border-radius: 10px;
}

.page-link:hover {
    background-color: gray;
    color: white;
}

.card-img {
    text-align: center;
}

/** page detail**/
.likes {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
}

.author {
    color: gray;
    font-style: italic;
}

.card-body {
    border: none;
}

.button a {
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
}

.update-post {
    padding-top: 1rem;
    margin-bottom: -2.2rem;
    text-align: center;
}

.comment-title {
    padding-bottom: 1rem;
}

.comment {
    background-color: #eee;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 5px;

}

.add-comment {
    padding: 0.3rem;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-bottom: -2rem;
}

.add-comment:hover {
    background-color: #eee;
    color: gray;
    text-decoration: none;
}



/*-------------- Footer ----------------*/
hr {
    border-top: 3px solid rgb(155, 155, 155);
    margin: 0;
}

.footer-icon {
    text-align: center;
}

.copyright p {
    padding-top: 1rem;
    color: gray;
}

.line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgb(219, 219, 219);
    margin: 0 3rem;
}

.icon {
    text-align: right;
    margin-left: -100px;
}

@media(max-width:500px) {
    .icon {
        text-align: center;
        margin-left: 0;
    }

    .copyright {
        text-align: center;
        margin-bottom: -1rem;
    }
}

#lab_social_icon_footer {
    padding: 10px 0;
    font-size: 0.8rem;
}

#lab_social_icon_footer a {
    color: rgb(145, 145, 145);
}

#lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

#lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
    color: #d34836;
}

#lab_social_icon_footer #social-ig:hover {
    color: #f3127b;
}

/*****************/
.categories {
    display: inline-block;
}

.dropdown-item-cat {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    display: inherit;
    color: gray;
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1.2rem;
}

.categories {
    padding: 6rem 6rem 8rem 6rem;
    text-align: center;

}

.dropdown-item-cat:hover {
    background-color: grey;
    color: white;
    text-decoration: none;
}