{% extends 'base.html' %}
{% load static %}

{% block title %} Create New Profile Page {% endblock%}
{% block content %}

{% if user.is_authenticated %}
<section class="create-profile">
    <h3>Create New Profile Page </h3>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="button" class="btn btn-success btn-profile">Create Profile</button>
        
    </div>
    {% else %}
    <p>You need to login to be able to edit a post.</p>
</section>
{% endif %}
{% endblock %}