{% extends 'base.html' %}
{% load static %}

{% block title %} Edit Profile Page {% endblock%}

{% block content %}
{% if user.is_authenticated %}
<section class="edit-profile">
    <h3> Edit Profile Page </h3>
    <form method="POST" enctype="multipart/form-data">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="button" class="btn btn-success btn-profile">Update Profile Page</button>
        </form>

    </div>
</section>
{% endif %}
{% endblock %}