{% extends 'base.html' %}


{% block title %} Edit {% endblock%}
{% block content %}

{% if user.is_authenticated %}
{% if user.id == post.username.id %}
<section>
    <div class="shadow p-4 mb-5 bg-body rounded edit-post">
    <h1>Edit Your Post</h1>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Update</button>
        </form>
    </div>
    {% else %}
    <p>You need to login to be able to edit a post. <a href="{% url 'login_user' %}">Login Here</a></p>
    {% endif %}
    {% else %}
    <br>
    <p>You need to login to be able to edit a post. <a href="{% url 'login_user' %}">Login Here</a></p>
    {% endif %}
</div>
</section>
{% endblock %}